  <div>
  <app-movie-search (termData)="handleTermData($event)"></app-movie-search>
  <br>
  <div class="container">

  <app-movie-list   [user]="movie"></app-movie-list>
  </div>
  </div>


  <div class="container">
    <hr>
    <h1><strong>Featured Movies</strong></h1>
    <hr>
    <div class="row">
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="assets/Zombies.jpg" alt="Pride Prejudice Zombies">

        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="assets/Atomic.jpg" alt="Atomic Blonde">

        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="assets/Hyde.jpg" alt="Hyde">

        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="assets/Spider1.jpg" alt="Spider">

        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="assets/lipstick.jpg" alt="Lipstick under ">

        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="assets/Expendable1.jpg" alt="Expendable">

        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="assets/Inception.jpg" alt="Inception">

        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="assets/Topgun.jpg" alt="Topgun">

        </div>
      </div>
    </div>
  </div>
<br>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="assets/Tubelight.jpg" alt="TubeLight">

        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="assets/GIJoe.jpg" alt="GI Joe">

        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="assets/Zero.jpg" alt="Zero">

        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="assets/Baby.jpg" alt="Baby Driver">

        </div>
      </div>
    </div>
  </div>

<!-- Featured Movies Section Stop -->

<!-- Filter By Section Start -->
<!-- <div class="container">
  <div class="container">
    <h1><strong>Filter By</strong></h1>
    <hr>  
    <br>
    <div class="row">
      <ul class="col-md-12 list-inline text-center center-block">
        <li class="">
          <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> 
          </button>
          <br>  
          <span>
            Credit Card
          </span>
        </li>
        <li class="list-inline-item">
          <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> 
          </button>
          <br>  
          <span>
            Debit Card
          </span>
        </li>
        <li class="list-inline-item">
          <button type="button" class="btn btn-default btn-lg">
            <span  class="fa fa-bars" aria-hidden="true"></span> 
          </button>
          <br>  
          <span>
            Other
          </span>
        </li>

      </ul>
    </div>
  </div> -->
<!-- Filter By Section Stop -->

<!-- Trailers Start -->
  <div class="container">
  <hr>

  <h1><strong>Trailers</strong></h1>
  
  <hr>
  <div class="row">
    <hr>
    
    <hr>
    <div class="col-md-3">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8USk21Lt0f4"></iframe>
      </div>
    </div>
    <div class="col-md-3">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/syjfmdvLu9c"></iframe>
      </div>
    </div>
    <div class="col-md-3">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/G62HrubdD6o"></iframe>
      </div>
    </div>
    <div class="col-md-3">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8hYlB38asDY"></iframe>
      </div>
    </div>
  </div>
  </div>
    

<!-- Trailer Stop -->


<div class="container">
  <footer>

    <hr>
    <div class="text-center center-block">
      <p class="txt-railway">- BookMovies -</p>
      <br />
      <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
      <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
      <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
      <a href="mailto:sakshamb2@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
    </div>
    <br>

    <div class="pull-right col-lg-4 col-xs-12">
      <p>Copyright &copy;2016 by Saksham Bhardwaj</p>
    </div>
    <hr>

  </footer>
</div>  









